.scrolltop {
    background-color: black;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 50%;
    position: fixed;
    bottom: 3%;
    right: -10%;
    transition: 0.3s;
    cursor: pointer;
    color: white;
}

.scrolltop:hover {
    box-shadow: 0px 0px 25px var(--main-color);
}

.scrolltop.display {
    right: 3%;
}