header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 30px 10vw;
    transition: all .50s ease;
}

.logo {
    display: flex;
    gap: 10px;
    color: var(--text-color);
    font-size: 2rem;
    font-weight: 700;
    justify-content: center;
    align-items: center;
}

.logo svg {
    color: var(--main-color);
}

.navlist {
    display: flex;
    gap: 2vw;
}

.navlist .closebtn {
    display: none;
}

.navlist a {
    color: white;
    font-weight: 600;
    transition: 0.5s;
}

.navlist a:hover {
    color: var(--main-color);
}

.navlist .active {
    color: var(--main-color);
}

.nav-icons {
    background-color: var(--main-color);
    padding: 10px 20px;
    border-radius: 50px;
    display: flex;
    gap: 15px;
    box-shadow: 0px 1px 25px #ff9f0d;
    font-size: 18px;
}

.nav-icons svg {
    color: black;
    transition: all 0.3s ease;
}

.nav-icons svg:hover {
    transform: scale(1.1);
    color: var(--text-color);
}

#menu-icon {
    color: var(--bg-color);
    z-index: 10001;
    cursor: pointer;
    display: none;
}

header.sticky {
    background-color: rgb(41, 41, 41);
    padding: 12px 14%;
}

@media only screen and (max-width: 600px) {
    .navlist {
        position: absolute;
        top: -100vh;
        transition: top 0.7s ease-in-out;
        display: flex;
        flex-direction: column;
        gap: 5vh;
        padding-top: 15vh;
        left: 0;
        text-align: center;
        font-size: 30px;
        background-color: black;
        width: 100vw;
        height: 100vh;
    }

    #menu-icon {
        display: block;
    }

    header {
        justify-content: left;
    }

    .nav-icons {
        padding: 10px 20px;
        margin-left: 12vw;
    }

    header.sticky {
        padding: 12px 10vw;
    }

    .navlist.active {
        top: 0;
    }

    .navlist.active .closebtn {
        display: block;
        position: fixed;
        top: 5vh;
        right: 10vw;
        z-index: 99999;
        height: 25px;
        width: 25px;
    }

    #menu-icon.hide {
        z-index: -1;
    }
}